Source: sandboxer
Section: admin
Priority: optional
Maintainer: DarkCaster <dark.caster@outlook.com>
Build-Depends: build-essential, libx11-dev, libxext-dev, cmake, lua5.1, debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://github.com/DarkCaster/Sandboxer

Package: sandboxer
Architecture: any
Depends: bubblewrap, lua (>= 5.1), ${shlibs:Depends}, ${misc:Depends}
Description: application isolation suite
 Simple and customizable application sandboxing/isolation suite
