#!/usr/bin/make -f
DH_VERBOSE = 1
DPKG_EXPORT_BUILDFLAGS = 1
TARGET_PREFIX=/usr/lib/sandboxer
PACKAGE=sandboxer
TARGET_INSTALL_PREFIX=debian/$(PACKAGE)$(TARGET_PREFIX)
BIN_INSTALL_PREFIX=debian/$(PACKAGE)/usr/bin
SYSTEMD_INSTALL_PREFIX=debian/$(PACKAGE)/etc/systemd/system

include /usr/share/dpkg/default.mk
%:
	dh $@ --with systemd

override_dh_auto_clean:
	dh_auto_clean -Scmake -DExecutor -BBuild/Executor-build
	dh_auto_clean -Scmake -DX11Util -BBuild/X11Util-build

override_dh_auto_configure:
	dh_auto_configure -Scmake -DExecutor -BBuild/Executor-build -- -DCMAKE_INSTALL_PREFIX="$(TARGET_PREFIX)/bin"
	dh_auto_configure -Scmake -DX11Util -BBuild/X11Util-build -- -DCMAKE_INSTALL_PREFIX="$(TARGET_PREFIX)/bin"

override_dh_auto_build:
	dh_auto_build -Scmake -DExecutor -BBuild/Executor-build
	dh_auto_build -Scmake -DX11Util -BBuild/X11Util-build

override_dh_auto_install:
	dh_auto_install -Scmake -DExecutor -BBuild/Executor-build
	dh_auto_install -Scmake -DX11Util -BBuild/X11Util-build
	install-to-home.sh "$(TARGET_INSTALL_PREFIX)" "$(BIN_INSTALL_PREFIX)"
	mkdir -p "$(SYSTEMD_INSTALL_PREFIX)"
	cp "Sandboxer/sandboxer.service" "$(SYSTEMD_INSTALL_PREFIX)"
